.Left-container{
    position: sticky;
    top: 1%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 4px grey;
    z-index: 1;
    margin: 5px;
    height: 98vh;
    width: 70px;
  }

  .ass{
    margin-bottom: 10%;
  }

  .ass2{
    text-decoration: none;
  }


