*{
    padding: 0px;
    margin: 0px;
}

.fullbody{
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 100%;

}

.bodypage2{
    background: linear-gradient(180deg, #AC66FE , rgb(255, 255, 255) 190.81%);
    background-blend-mode:hard-light ;
    /* background-image: url('C:\Users\santo\OneDrive\Desktop\react app\my-app\wave-haikei3.png'); */
    /* background-color: #AC66FE; */
    height: 91vh;
    display: flex;
    /* border-bottom-left-radius: 600px 100px;
    border-bottom-right-radius: 600px 100px; */
}

.left20{
    height: 80%;
    width: 55%;
    align-content: center;
    /* background-color: bisque; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.left20-h1{
    color: white;
    font-family: 'Poppins',sans-serif;
    font-size: 15vh;
    font-weight: 700;
    /* margin-top: 30vh; */
}
/* .curve{
    width: 100%;
    height: 90%;
    content: '';
    top: 95%;
    position: absolute;
    border-radius: 150%;
    right: 10%;
    background-color: white;
} */

.right20{
    height: 70%;
    width: 40%;
    display: flex;
    /* background-color: gray; */
}

.headtop{
    width: 90%;
    /* background-color: red; */
    height: fit-content;
    /* align-self: center; */
    position: relative;
    margin-top: 5%;
    border-radius: 100% 50% ;
}

.headtop h2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 55px;
    text-align: center;
    color: #000000;
}

.headtop h4{
    font-family: sans-serif;
    font-style: normal;
    font-weight: 520;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    color: #000000;
}

.head{
    width: 85%;
    /* background-color: red; */
    height: fit-content;
    /* align-self: center; */
    position: relative;
    margin-top: 5%;
    border-radius: 100% 50% ;
}

.head h2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 55px;
    text-align: center;
    color: #000000;
}
.subtext{
    color: #AC66FE;
}

.custom-shape-divider-bottom-1675611468 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

/* svg{
    stroke: transparent;
    stroke-width:0px;
} */

.custom-shape-divider-bottom-1675611468 svg {
    position: relative;
    display: block;
    width: calc(106% + 1.3px);
    height: 84px;
    stroke: transparent;
    stroke-width: 0px;
    stroke-opacity: 0;
}

.custom-shape-divider-bottom-1675611468 .shape-fill {
    fill: #FFFFFF;
}


