.nav-bar{
    /* border: 2px black solid; */
    position: sticky;
    top: 0%;
    z-index: 1;
    background-color: white;
    display: flex;
    /* justify-content: flex-end;
    align-items: center; */
}

.nav-bar nav{
    /* border: 2px black solid; */
    height: 60px;
    width: 100%;
    box-shadow: 0px 0px 4px grey;
    position: sticky;
    top: 0%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* background-color: blanchedalmond; */
}

.search{
    width: 50%;
    /* position: relative; */
    /* left: 20%;
    top: 23%; */
    display: flex;
    /* justify-content: space-around; */
    /* background-color: blueviolet; */
}

.search button{
    width: 120px;
    /* margin-left: 10px; */
    /* margin-right: 500px; */
    border-radius: 30px;
    background-color: white;
    color: rgba(0, 0, 0, 0.596);
    border-width:1px ;
    border-color: rgba(0, 0, 0, 0.459);
}

.search button:hover{
    box-shadow: 0px 0px 5px grey;
    cursor: pointer;
}

.search input{
    width: 100%;
    height: 32px;
    border-radius: 30px;
    font-size: 100%;
    padding-left: 2%;
    border:1px solid gray;
    outline: none;
}

.dropdown2{
    width: 42%;
    height: fit-content;
    z-index: 1;
    background-color: white;
    /* border-left: 1px solid gray;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray; */
    box-shadow: 0px 0px 5px grey;
    border-radius: 10px;
    top: 46.5px;
    position: absolute;
    left: 25%;
    overflow-y:auto
}

.dropdown2::-webkit-scrollbar-thumb{
    background: black;
}

.dropdown2::-webkit-scrollbar-thumb:hover{
    background-color: red;
}

.seee{
    display: flex;
    flex-direction: column;
}

.search input:focus{
    box-shadow: 0px 0px 5px grey;
}

.profilecircle{
    /* background-color: blue; */
    height: 100%;
    position: relative;
    /* left: 0%;
    right: 5%; */
    width: 25%;
    display: flex;
    justify-content: flex-end;

    /* flex-basis:  40%; */
}

.p{
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: relative;
    right: 5%; */
    margin-right: 8%;
    width: 60px;
    height: 60px;
}

.pc{
    border-radius: 50px;
    /* background-color: blue; */
    width: 38px;
    height: 38px;
}

.space{
    width: 5px;
}

.u{
    border-radius: 50px;
    width: 38px;
    height: 38px;
}

/* .li{
    text-decoration: none;
} */

.l:hover{
    background-color: rgba(0, 0, 0, 0.2);
}



