.addsangha{
    /* background-color: brown; */
    height: 13%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2%;
  }

  .addcircle{
    background-color: rgba(0, 0, 0, 0.1);
    padding: 0%;
    max-height: 55px ;
    max-width: 55px;
    min-height: 50px;
    min-width: 50px;
    height: 9.5vh;
    width: 9.5vb;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .addcircle:hover{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.15);
  }

  .addcircleinside{
    color: #F6F6F2;
    margin-top: 3%;
    padding: 0%;
  }

.sanghalists2122{
    /* background-color: blueviolet; */
    border-radius: 10px;
    height: 87%;
    width: 100%;
}