.textbox22{
    margin-top: 10px;
    position: relative;
    /* border-radius: 10px; */
    /* background-color: brown; */
    border-bottom: 1.5px solid #F6F6F2;
    height: fit-content;
}

.layertop{
    /* background-color: blue; */
    height: 30%;
    display: flex;
}

.writerinfo{
    /* background-color: red; */
    /* width: 100%; */
    width: 20%;
    height: 53px;
    display: flex;
    align-items: center;
}

.writerdp{
    height: 45px;
    /* width: 45px; */
    /* background-color: burlywood; */
    border-radius: 50px;
    margin-left: 3%;
    margin-right: 3%;
}

.writernamebox{
    /* background-color: chartreuse; */
    width: fit-content;
    margin-left: 2%;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.w{
    display: flex;
}
.three{
    /* background-color: bisque; */
    color: rgba(0, 0, 0, 0.4);
    /* height: fit-content; */
    display: flex;
    justify-content: flex-end;
    padding-right: 2%;
    align-items: center;
    width: 13%;
}

.DTOP{
    background-color: bisque;
    display: flex;
    justify-content: flex-end;
}

.ddrop{
    z-index: 1;
    height: fit-content;
    top: 35px;
    right: 2.5%;
    width: 13%;
    /* background-color: blueviolet; */
    position: absolute;    
}

.dmenu{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.5px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px;
}

.dmenu:hover{
    cursor: pointer;
    background-color: #F6F6F2;
}

.dmenu h4{
    font-family: 'Poppins';
    font-size: 15px;
    margin: 2%;
}

.sel{
    border: none;
}

.three:hover{
    color: black;
    cursor: pointer;
}

.wdp{
    display: flex;
    align-items: center;
    /* background-color: brown; */
    width: 87%;
}

.communityname{
	border-radius: 0%;
	height: auto;
	width: 100%;
    font-family: 'Poppins';
	/* font-family: 'Segoe UI'; */
    font-weight: 590;
    font-size: 100%;
	flex-basis: 10px;
	margin: 0%;
    padding: 0%;
}

.time{
	border-radius: 0%;
    font-size: 80%;
	height: auto;
	width: 100%;
	font-family: 'poppins';
	color: rgba(0, 0, 0, 0.4);
	/* background-color: blue; */
    font-weight: 400;
    padding: 0%;
    margin: 0%;
}

.layermiddle{
    margin: 0% 2% 0% 6.5%;
    text-align: left;
    font-family: sans-serif;
    margin-bottom: 2%;
}