.messegebox{
    height: 100%;
    /* background-color: burlywood; */
    border-radius: 10px;
}

.sendmessege{
    width: 100%;
    height: 8%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background-color: brown; */
}

.s55{
    margin: 0%;
    height: fit-content;
}

.sendtext2{
    width: 100%;
    height: 100%;
    background-color: white;
    outline: none;
    border: none;
    /* border: 1px solid rgba(0, 0, 0, 0.2); */
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Risend{
    height: 90%;
    width: 90%;
    color: #AC66FE;
}

.s2{
    height: fit-content;
}

.messegeboxinput{
    width: 95%;
    height: 80%;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    /* background-color: red; */
}

.sendtext{
    width: 15%;
    height: 80%;
    border-radius: 10px;
    /* border: 1px solid rgba(0, 0, 0, 0.2); */
    /* background-color: red; */
}

.messegeboxinput2{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    /* background-color: red; */
    border: none;
    padding-left: 2% ;
    outline: none;
}

.lis{
    width: 100%;
    height: 85%;
    max-height: 477px;
    /* background-color: red; */
    overflow-y: auto;
}

.title{
    /* background-color: red; */
    margin-top: 2%;
    text-align: center;
    font-family: 'Poppins';
    font-size: large;
    height: fit-content;
    color: rgba(0, 0, 0, 0.4);
}



